@charset "utf-8";

@import "normalize";

@import "mixins";

html {
  font-size: 62.5%;

  ::selection {
    background: lightblue; /* Safari */
    @include text-shadow(none);
  }
  ::-moz-selection {
    background: lightblue; /* Firefox */
    @include text-shadow(none);
  }
}

body {
  background: #d4d4d4;
  text-align: center;
  font-family: sans-serif;
}

h1 {
  font-weight: 100;
  @include font-size(32);
  @include text-shadow(0 0 10px white);
  position: absolute;
  left: 0;
  right: 0;
  z-index: 20;
}

#slideshow {
  margin: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  > div {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  }
}

#index {
  min-height: 100%;
  position: relative;
  padding-bottom: 16px;
}

footer {
  position: absolute;
  bottom: 0;
  z-index: 10;
  @include font-size(14);
  left: 4px;
  @include text-shadow(0 0 10px white);
}
