@charset "utf-8";

@import "normalize";

@import "mixins";

$black: #555;
$white: rgb(252, 252, 252);
$transparent_white: rgba(252, 252, 252, .8);
$light-grey: #EEEEEE;
$dark-grey: #999999;

$max_width: 1200px;

html {
  font-size: 62.5%;
  background: $white;

  ::selection {
    background-color: $white; /* Safari */
    @include text-shadow(none);
  }
  ::-moz-selection {
    background-color: $white; /* Firefox */
    @include text-shadow(none);
  }
}

body {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-weight: 100;
  color: $black;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-width: 800px;

  #content {
    min-width: 800px;
  }
}

* {
  outline: none;
  margin: 0;
  line-height: 1.5;
}

a {
  color: inherit;

  &:hover {
    color: #222;
  }
}

h1 {
  font-weight: 100;
  @include font-size(32);
  z-index: 20;
}
h2 {
  margin: 0;

}

#content {
  width: 100%;
  max-width: $max_width;
  margin: auto;
  @include box-shadow(0 0 10px $dark-grey);

  img {
    float: right;
  }
}

container {
  overflow: visible;
  max-width: 720px;
  margin: auto;
  display: block;
}
calendar {
  display: block;
  overflow: hidden;
  margin-top: 50px;

  td {
    border: 1px solid;
    text-align: center;
    padding: 3px;
  }
  .the-date {
    background: $white;
  }
}
article {
  margin: auto;
  max-width: 1040px;
  width: 100%;
  padding: 50px 10px 80px;
  @include box-sizing(border-box);
}

section {
  overflow: hidden;
  border-bottom: 30px;
  position: relative;
  @include font-size(30);

  header {
    line-height: 100px;
    font-weight: 100;
    margin-bottom: 1em;
  }

  &#where, &#when {
    span {
      display: block;
    }
  }


  &#about {
    article {
      padding-bottom: 50px;
    }
  }


  &#when {

    article {
      text-align: left;
    }

    container {
      overflow: visible;
    }
  }

  &#directions {
    @include image-2x('/images/background/map.png', '/images/background/map_2x.png');
    height: 600px;

    article {
      margin-top: 100px;
    }

    header {
      background-color: $white;
      background-color: $transparent_white;
      border-radius: 5px;
      text-align: center;
    }

    form {
      width: 100%;
    }
  }

  &#theme {
  }

  &#where {
    @include image-2x("/images/background/saratoga_springs.jpg", "/images/background/saratoga_springs_2x.jpg");
    height: 600px;

    article {
      margin-top: 100px;
    }

    header, div {
      border-radius: 5px;
      background-color: $white;
      text-align: center;
      opacity: .5;
      @include transition(opacity .2s ease);
    }
    div {
      padding: 30px;
    }

    &:hover {
      header, div {
        opacity: .9;
      }
    }
  }

  &#images {
    width: 100%;
    overflow-x: scroll;
    background-color: $light-grey;

    .container {
      width: 5000px;
      height: 100%;
      max-width: none;
      padding: 0;
    }
  }


  &#about {
    background-color: #D4EDF4;
  }
  &#meeting {
    background-color: #E2F2D5;
  }
  &#proposal {
    background-color: #F9FBBA;
  }
  &#when {
    background-color: #D4EDF4;
  }
  &#theme {
    background-color: #E2F2D5;
  }
  &#dress {
    background-color: #F9FBBA;
  }
  &#disclaimer {
    background-color: #D4EDF4;
  }
  &#registries {
    background-color: #E2F2D5;
  }
}

#address, #address-button {
  padding: 0;
  line-height: 50px;
  border: none;
  @include font-size(30);
  border-radius: 5px;
  vertical-align: middle;
  @include appearance(none);
  @include box-shadow(0 0 4px $dark-grey);
}
#address {
  padding-left: 10px;
  width: 500px;
  background-color: $white;
  background-color: $transparent_white;
}
#address-button {
  width: 200px;
  color: $white;
  background-color: #9FE58A;
  @include transition(background-color .5s ease);

  &:hover {
    background-color: $light-grey;
  }
}



header.main {
  width: 100%;

  max-width: $max_width;
  margin: auto;

  height: 500px;
  @include image-2x('/images/background/two-rings.jpg', '/images/background/two-rings_2x.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 1200px auto;
  background-position: center -200px;
  position: relative;

  div {
    float: left;
    text-align: center;
    @include font-size(44);

    span {
      display: block;
    }
  }
  container {
    max-width: 720px;
    margin-top: 30px;
  }
  article {
    height: 500px;
  }
}

.alison {
  margin-bottom: 1em;
}
.brian {

}

#registries {
  h2 {
    text-align: center;
  }
}

.amazon {
  background-image: url('/images/amazon_logo.jpg');
  margin-bottom: 20px;
}
.target {
  background-image: url('/images/target_logo.gif');
  margin-bottom: 20px;
}
.bed-bath {
  background-image: url('/images/bed_bath_logo.jpg');
}
.amazon, .target, .bed-bath {
  width: 50%;
  height: 100px;
  display: block;
  background-color: white;
  border-radius: 4px;
  background-size: 90%;
  background-repeat: no-repeat;
  background-position: 20px center;
  padding: 10px;
  margin: 0 auto 20px;
  @include transition(box-shadow .2s ease,
                      -moz-box-shadow .2s ease,
                      -webkit-box-shadow .2s ease);
  @include box-shadow(0 0 0px $dark-grey);

  &:hover {
    @include box-shadow(0 0 20px $dark-grey);
  }
}
#the-ring {
  width: 300px;
  margin-left: 1em;
  margin-bottom: 1em;
  border-radius: 4px;
}

#footer {
  width: 100%;

  background-color: $light-grey;

  text-align: center;
}
.rsvp {
  @include font-size(38);
  margin: auto;
  margin-top: 40px;
}
.copyright {
  @include font-size(14);
  text-align: center;
}
