<container>
  <h2>Get directions</h2>
  <form>
    <input id="address" type="text" placeholder="Your Address" title="Enter your address here"/>
    <button id="address-button" title="Submit for directions">GO</button>
  </form>
</container>
<div class="map-container">
  <iframe src="https://www.google.com/maps/d/embed?mid=zc1rqE4pDVvE.kK5sUG6fegYU"></iframe>
</div>