<div class="half">
  <h3>Announcing</h3>
  <h3>the wedding of</h3>
  <h2 itemscope itemtype="http://schema.org/Person">
    <span itemprop="name">Alison Thomas</span>
    <meta itemprop="url" content="http://alisonthomasart.com">
  </h2>
  <h3>&</h3>
  <h2 itemscope itemtype="http://schema.org/Person">
    <span itemprop="name">Brian Anders</span>
    <meta itemprop="url" content="http://briananders.me">
  </h2>
<div>