<header>
  <h2>Hotel Information</h2>
</header>
<ul>
  <li itemprop="name">Motel 6</li>
  <li>1240 Camden Ave</li>
  <li>Campbell, CA 95008</li>
  <li>
    <a itemprop="url" href="/downloads/campbel-motel-6.vcf" title="Add Motel 6 to your contacts">Add to contacts</a>
  </li>
</ul>
<ul>
  <li><b>Phone:</b> 408-371-8870</li>
  <li><b>Fax:</b> 408-879-0236</li>
  <li><b>Group Name:</b> <span itemprop="name">Anders/Thomas&nbsp;wedding</span></li>
  <li><b>Group Number:</b> M131000015</li>
</ul>
