<div class="left-half">
  <article>
    <container>
      <header>
        <h2>How we met</h2>
        <h3>by: Brian</h3>
      </header>
      <p>
        At <a itemprop="url" href="http://www.graceland.edu/" target="_blank">Graceland University</a> (our alma mater), there was a visiting policy where you have to drop off your school ID at the reception desk before visiting the dorm room in a building of the opposite sex. Ali was one of these receptionists.
      </p>
      <p>
        I was coming back from visiting a friend and Ali returned my ID. Immediately, I was struck by her beauty. As we were leaving (my friend and I) I asked, "Who was that girl?", and my friend replied that she knew the girl well. I contacted Ali on facebook and asked her to the Wednesday Night Movie (a popular college movie night).
      </p>
      <p>
        One thing that sealed the deal for me was when we were watching the movie.
        The movie was <a itemprop="url" href="http://www.imdb.com/title/tt1228705/" target="_blank">Iron Man 2</a> and one of the bad characters is Justin Hammer, played by <a itemprop="url" href="http://www.imdb.com/name/nm0005377/" target="_blank">Sam Rockwell</a>. When he came on the screen she leaned over to me and said "That's the guy who plays Zaphod Beeblebrox in the <a itemprop="url" href="" target="_blank">Hitchhiker's Guide to the Galaxy</a> movie!"
      </p>
      <p>
        The rest is history...
      </p>
    </container>
  </article>
</div>
<div class="right-half">
  <img src="/images/us/DSC8239_2x.jpg" data-src="/images/us/DSC8239_2x.jpg" data-src-2x="/images/us/DSC8239_2x.jpg"/>
</div>