<div class="left-half">
  <img id="the-ring" src="/images/us/IMG_5970.jpg" data-src="/images/us/IMG_5970.jpg" data-src-2x="/images/us/IMG_5970_2x.jpg">
</div>
<div class="right-half">
  <article>
    <container>
      <header>
        <h2>Getting engaged</h2>
        <h3>by: Brian</h3>
      </header>
      <p>
        It was the summer of 2013. Ali had asked me to come with her to
        "Family Camp" up near
        <a itemprop="url" href="https://www.google.com/maps/place/Cromberg,+CA/">Cromberg, CA</a>.
        I was only an intern at the time, so vacation wasn't an option.
        But I promised that I would drive up for the last weekend of camp
        so we could do some hiking.
      </p>
      <p>
        In the meantime, I was sneaking around after work trying to find the perfect
        ring. After lots of ring research and online store searching, I found it.
        The one ring to rule them all.
        It was a perfect circle with diamonds set in the band and
        a round-cut solitaire setting. Simple, but not too simple; intricate,
        but not too intricate.
      </p>
      <p>
        Once I had acquired the ring, I was set to go to Family Camp. I drove up
        late on Friday night, keeping said ring hidden. On Saturday, after the camp's
        closing service, Ali and I went for a hike. We hiked up to
        <a itemprop="url" href="https://www.google.com/maps/@39.6116284,-120.6318031,16z">Upper Sardine Lake</a>
        and on the way up we came to a waterfall. It had a great view. I asked Ali,
        "is this the most beautiful view we're going to see?" as I had never been there before.
        She said that she thought so. So, I bent a knee, brought out the ring and asked
        the question.
      </p>
      <p>
        She broke into a huge smile and without hesitation said "Yes".
      </p>
    </container>
  </article>
</div>