<header>
  <h2>Our gift registries</h2>
</header>
<div>
  <a itemprop="url" class="amazon" target="_blank" href="http://www.amazon.com/gp/registry/registry.html?ie=UTF8&id=2YXO0B8K5E9HF&type=wedding" title="Amazon.com Registry"></a>
  <a itemprop="url" class="bed-bath" target="_blank" href="https://www.bedbathandbeyond.com/store/giftregistry/view_registry_guest.jsp?registryId=541590340&eventType=Wedding" title="Bed Bath & Beyond Registry"></a>
</div>
