<header>
  <h2>Theme</h2>
</header>
<div>
  We're planning on a 1950s style wedding. And to make things fun we're
  making the reception an Outdoor Picnic/Barbecue theme. So, be ready to
  play some lawn games!
</div>
