<header>
  <h2>Where?</h2>
</header>
<ul itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
  <li itemprop="name">Saratoga Springs Picnic &amp; Campgrounds</li>
  <li>22801 Big Basin Way</li>
  <li>
    <span itemprop="addressLocality">Saratoga</span>,
    <span itemprop="addressRegion">CA</span> 95070
  </li>
  <li>
    <a itemprop="url" href="/downloads/saratoga-springs-picnic-campgrounds.vcf">Add to contacts</a>
  </li>
</ul>
