---
title: Ali And Brian
---

<header class="main">
  <article>
    <container>
      <div>
        <span>Announcing</span>
        <span>the wedding of</span>
        <span>Alison Thomas</span>
        <span>&</span>
        <span>Brian Anders</span>
      <div>
    </container>
  </article>
</header>

<div id="content">

  <section id="about">
    <article>
      <container>
        <header>
          <h2>About us</h2>
        </header>
        <div>
          <h3>Alison</h3>
          <p>
            Nice lady.
          </p>
        </div>
        <div>
          <h3>Brian</h3>
          <p>
            Scoundrel.
          </p>
        </div>
      </container>
    </article>
  </section>

  <section id="meeting">
    <article>
      <container>
        <header>
          <h2>How we met</h2>
        </header>
        <div>
          She's mean.
        </div>
      </container>
    </article>
  </section>

  <section id="proposal">
    <article>
      <container>
        <header>
          <h2>Getting engaged</h2>
        </header>
        <div>
          I snuck around to get a ring and gave it to her.
        </div>
      </container>
    </article>
  </section>

  <section id="when"  data-type="background" data-speed="10">
    <article>
      <container>
        <header>
          <h2>When?</h2>
        </header>
        <div class="two-lines">
          <span>6:00pm</span>
          <span>June 20th, 2015</span>
        </div>
        <calendar>
          <table>
            <tr>
              <td>
              </td>
              <td>
                1
              </td>
              <td>
                2
              </td>
              <td>
                3
              </td>
              <td>
                4
              </td>
              <td>
                5
              </td>
              <td>
                6
              </td>
            </tr>
            <tr>
              <td>
                7
              </td>
              <td>
                8
              </td>
              <td>
                9
              </td>
              <td>
                10
              </td>
              <td>
                11
              </td>
              <td>
                12
              </td>
              <td>
                13
              </td>
            </tr>
            <tr>
              <td>
                14
              </td>
              <td>
                15
              </td>
              <td>
                16
              </td>
              <td>
                17
              </td>
              <td>
                18
              </td>
              <td>
                19
              </td>
              <td class="the-date">
                20
              </td>
            </tr>
            <tr>
              <td>
                21
              </td>
              <td>
                22
              </td>
              <td>
                23
              </td>
              <td>
                24
              </td>
              <td>
                25
              </td>
              <td>
                26
              </td>
              <td>
                27
              </td>
            </tr>
            <tr>
              <td>
                28
              </td>
              <td>
                29
              </td>
              <td>
                30
              </td>
              <td>
              </td>
              <td>
              </td>
              <td>
              </td>
              <td>
              </td>
            </tr>
          </table>
        </calendar>
      </container>
    </article>
  </section>

  <section id="where">
    <article>
      <container>
        <header>
          <h2>Where?</h2>
        </header>
        <div class="three-lines">
          <span>Saratoga Springs Picnic & Campgrounds</span>
          <span>22801 Big Basin Way</span>
          <span>Saratoga, CA 95070</span>
        </div>
      </container>
    </article>
  </section>

  <section id="theme">
    <article>
      <container>
        <header>
          <h2>Theme</h2>
        </header>
        <div class="one-liner">
          Outdoor Picnic/Barbecue
        </div>
      </container>
    </article>
  </section>

  <section id="dress"  data-type="background" data-speed="10">
    <article>
      <container>
        <header>
          <h2>Dress Code</h2>
        </header>
        <div class="one-liner">
          Nice Jeans.&nbsp;&nbsp;Nice Shirt.&nbsp;&nbsp;Simple Enough.
        </div>
      </container>
    </article>
  </section>

  <section id="disclaimer"  data-type="background" data-speed="10">
    <article>
      <container>
        <header>
          <h2>We want you to come.</h2>
        </header>
        <div class="one-liner">
          But, if you can't, we understand.
        </div>
      </container>
    </article>
  </section>

  <section id="directions">
    <article>
      <container>
        <header>
          <h2>Need directions? No problem!</h2>
        </header>
        <form class="one-liner">
          <input id="address" type="text" placeholder="Your Address"/>
          <button id="address-button">GO</button>
        </form>
      </container>
    </article>
  </section>

  <section id="registries">
    <article>
      <container>
        <header>
          <h2>Our gift regestries</h2>
        </header>
        <div>
          <a href="">Amazon</a>
          <a href="">Target</a>
        </div>
      </container>
    </article>
  </section>


  <!-- <section id="images">
    <article class="container">
      <img src="/images/us/ring.jpg">
      <img src="/images/us/hand.jpg">
      <img src="/images/us/IMG_2475.jpg">
      <img src="/images/us/IMG_5018.jpg">
      <img src="/images/us/IMG_5967.JPG">
      <img src="/images/us/IMG_0660.JPG">
      <img src="/images/us/under_the_stars.jpg">
      <img src="/images/us/santa_cruz.jpg">
      <img src="/images/us/universal.jpg">
    </article>
  </section> -->

</div>

<footer class="main">
  <div class="rsvp">The invites you will receive in the mail<br>will give you instruction on how to RSVP.</div>

  <div class="copyright">&copy; 2014 - Brian Anders</div>
</footer>