---
title: Ali And Brian
---

<h1>We're getting married!</h1>

<div id="slideshow">
  <div style="background-image: url(/images/formal.jpg);">
  </div>
  <div style="background-image: url(/images/golden_gate.jpg);">
  </div>
  <div style="background-image: url(/images/hand.jpg);">
  </div>
  <div style="background-image: url(/images/harry_potter.jpg);">
  </div>
  <div style="background-image: url(/images/IMG_0217.JPG);">
  </div>
  <div style="background-image: url(/images/IMG_0660.JPG);">
  </div>
  <div style="background-image: url(/images/IMG_0854.JPG);">
  </div>
  <div style="background-image: url(/images/IMG_0857.JPG);">
  </div>
  <div style="background-image: url(/images/IMG_1622.JPG);">
  </div>
  <div style="background-image: url(/images/IMG_2472.jpg);">
  </div>
  <div style="background-image: url(/images/IMG_2475.jpg);">
  </div>
  <div style="background-image: url(/images/IMG_5018.jpg);">
  </div>
  <div style="background-image: url(/images/IMG_5967.JPG);">
  </div>
  <div style="background-image: url(/images/ring.jpg);">
  </div>
  <div style="background-image: url(/images/rome.jpg);">
  </div>
  <div style="background-image: url(/images/santa_cruz.jpg);">
  </div>
  <div style="background-image: url(/images/space_mountain.jpg);">
  </div>
  <div style="background-image: url(/images/under_the_stars.jpg);">
  </div>
  <div style="background-image: url(/images/universal.jpg);">
  </div>
</div>
