---
title: Ali And Brian
---

<div id="content">

  <header class="main">
    <article>
      <container>
        <div>
          <span>Announcing</span>
          <span>the wedding of</span>
          <span>Alison Thomas</span>
          <span>&</span>
          <span>Brian Anders</span>
        <div>
      </container>
    </article>
  </header>

  <!-- <section id="about">
    <article>
      <container>
        <header>
          <h2>About us</h2>
        </header>
        <div class="alison">
          <h3>Alison</h3>
          <p>
            Ali is a super fun girl to hang out with. She may be a little shy at first, but once she opens up, she's a ton of fun. She loves reading. If it weren't for laws against it, she would probably be marrying books instead of me.

            She is imaginative and creative. She is <a href="http://www.alisonthomasart.com">a great artist</a>. Since Ali is so smart, she is very fun to talk to.

            She likes the outdoors.

          </p>
        </div>
        <div class="brian">
          <h3>Brian</h3>
          <p>
            Scoundrel.
          </p>
        </div>
      </container>
    </article>
  </section> -->

  <section id="meeting">
    <article>
      <container>
        <header>
          <h2>How we met</h2>
          <h3>by: Brian</h3>
        </header>
        <div>
          At <a href="http://www.graceland.edu/" target="_blank">Graceland University</a> (our alma mater), there was a visiting policy where you have to drop off your school ID at the reception desk before visiting the dorm room in a building of the opposite sex. Ali was one of these receptionists.
          <br><br>
          I was coming back from visiting a friend and Ali returned my ID. Immediately, I was struck by her beauty. As we were leaving (my friend and I) I asked, "Who was that girl?", and my friend replied that she knew the girl well. I contacted Ali on facebook and asked her to the Wednesday Night Movie (a popular college movie night).
          <br><br>
          One thing that sealed the deal for me was when we were watching the movie.
          The movie was <a href="http://www.imdb.com/title/tt1228705/" target="_blank">Iron Man 2</a> and one of the bad characters is Justin Hammer, played by <a href="http://www.imdb.com/name/nm0005377/" target="_blank">Sam Rockwell</a>. When he came on the screen she leaned over to me and said "That's the guy who plays Zaphod Beeblebrox in the <a href="" target="_blank">Hitchhiker's Guide to the Galaxy</a> movie!"
          <br><br>
          The rest is history...
        </div>
      </container>
    </article>
  </section>

  <section id="proposal">
    <article>
      <container>
        <header>
          <h2>Getting engaged</h2>
          <h3>by: Brian</h3>
        </header>
        <p>
          <img id="the-ring" src="/images/us/hand.jpg">
          It was the summer of 2013. Ali had asked me to come with her to
          "Family Camp" up near
          <a href="https://www.google.com/maps/place/Cromberg,+CA/">Cromberg, CA</a>.
          I was only an intern at the time, so vacation wasn't an option.
          But I promised that I would drive up for the last weekend of camp
          so we could do some hiking.
          <br><br>
          In the meantime, I was sneaking around after work trying to find the perfect
          ring. After lots of ring research and online store searching, I found it.
          The one ring to rule them all.
          It was a perfect circle with diamonds set in the band and
          a round-cut solitaire setting. Simple, but not too simple; intricate,
          but not too intricate.
          <br><br>
          Once I had acquired the ring, I was set to go to Family Camp. I drove up
          late on Friday night, keeping said ring hidden. On Saturday, after the camp's
          closing service, Ali and I went for a hike. We hiked up to
          <a href="https://www.google.com/maps/@39.6116284,-120.6318031,16z">Upper Sardine Lake</a>
          and on the way up we came to a waterfall. It had a great view. I asked Ali,
          "is this the most beautiful view we're going to see?" as I had never been there before.
          She said that she thought so. So, I bent a knee, brought out the ring and asked
          the question.
          <br><br>
          She broke into a huge smile and without hesitation said "Yes".
        </p>
      </container>
    </article>
  </section>

  <section id="when">
    <article>
      <container>
        <header>
          <h2>When?</h2>
        </header>
        <div>
          <span>Saturday</span>
          <span>June 20th, 2015</span>
          <span>6:00pm</span>
        </div>
        <calendar>
          <table>
            <tr>
              <td>
              </td>
              <td>
                1
              </td>
              <td>
                2
              </td>
              <td>
                3
              </td>
              <td>
                4
              </td>
              <td>
                5
              </td>
              <td>
                6
              </td>
            </tr>
            <tr>
              <td>
                7
              </td>
              <td>
                8
              </td>
              <td>
                9
              </td>
              <td>
                10
              </td>
              <td>
                11
              </td>
              <td>
                12
              </td>
              <td>
                13
              </td>
            </tr>
            <tr>
              <td>
                14
              </td>
              <td>
                15
              </td>
              <td>
                16
              </td>
              <td>
                17
              </td>
              <td>
                18
              </td>
              <td>
                19
              </td>
              <td class="the-date">
                20
              </td>
            </tr>
            <tr>
              <td>
                21
              </td>
              <td>
                22
              </td>
              <td>
                23
              </td>
              <td>
                24
              </td>
              <td>
                25
              </td>
              <td>
                26
              </td>
              <td>
                27
              </td>
            </tr>
            <tr>
              <td>
                28
              </td>
              <td>
                29
              </td>
              <td>
                30
              </td>
              <td>
              </td>
              <td>
              </td>
              <td>
              </td>
              <td>
              </td>
            </tr>
          </table>
        </calendar>
      </container>
    </article>
  </section>

  <section id="where">
    <article>
      <container>
        <header>
          <h2>Where?</h2>
        </header>
        <div>
          <span>Saratoga Springs Picnic & Campgrounds</span>
          <span>22801 Big Basin Way</span>
          <span>Saratoga, CA 95070</span>
        </div>
      </container>
    </article>
  </section>

  <section id="theme">
    <article>
      <container>
        <header>
          <h2>Theme</h2>
        </header>
        <div>
          We're planning on a 1950s style wedding. And to make things fun we're
          making the reception an Outdoor Picnic/Barbecue theme. So, be ready to
          play some lawn games!
        </div>
      </container>
    </article>
  </section>

  <section id="dress">
    <article>
      <container>
        <header>
          <h2>Dress Code</h2>
        </header>
        <div>
          Nice Jeans.&nbsp;&nbsp;Nice Shirt.&nbsp;&nbsp;Simple Enough.
        </div>
      </container>
    </article>
  </section>

  <section id="disclaimer">
    <article>
      <container>
        <header>
          <h2>We want you to come.</h2>
        </header>
        <div>
          But, if you can't, we understand.
        </div>
      </container>
    </article>
  </section>

  <section id="directions">
    <article>
      <container>
        <header>
          <h2>Need directions? No problem!</h2>
        </header>
        <form>
          <input id="address" type="text" placeholder="Your Address"/>
          <button id="address-button">GO</button>
        </form>
      </container>
    </article>
  </section>

  <section id="registries">
    <article>
      <container>
        <header>
          <h2>Our gift registries</h2>
        </header>
        <div>
          <a class="amazon" target="_blank" href="http://www.amazon.com/gp/registry/registry.html?ie=UTF8&id=2YXO0B8K5E9HF&type=wedding"></a>
          <!-- <a class="target" target="_blank" href=""></a> -->
          <a class="bed-bath" target="_blank" href="https://www.bedbathandbeyond.com/store/giftregistry/view_registry_guest.jsp?registryId=541590340&eventType=Wedding"></a>
        </div>
      </container>
    </article>
  </section>

  <section id="footer">
    <article class="rsvp">
      <container>
        The invitations you will receive in the mail<br>will give you instruction on how to RSVP.
      </container>
    </article>
    <div class="copyright">&copy; 2014 - Brian Anders</div>
  </section>
</div>
