---
title: Ali And Brian
---

<h1>We're getting married!</h1>

<div id="slideshow">
  <div style="background-image: url(/images/ring.jpg);">
    ring
  </div>
  <div style="background-image: url(/images/hand.jpg);">
    hand
  </div>
  <div style="background-image: url(/images/IMG_2475.jpg);">
    IMG_2475
  </div>
  <div style="background-image: url(/images/IMG_5018.jpg);">
    IMG_5018
  </div>
  <div style="background-image: url(/images/IMG_5967.JPG);">
    IMG_5967
  </div>
  <div style="background-image: url(/images/IMG_0660.JPG);">
    IMG_0660
  </div>
  <!-- <div style="background-image: url(/images/golden_gate.jpg);">
    golden_gate
  </div>
  <div style="background-image: url(/images/IMG_0217.JPG);">
    IMG_0217
  </div>
  <div style="background-image: url(/images/IMG_0854.JPG);">
    IMG_0854
  </div>
  <div style="background-image: url(/images/IMG_0857.JPG);">
    IMG_0857
  </div>
  <div style="background-image: url(/images/IMG_1622.JPG);">
    IMG_1622
  </div>
  <div style="background-image: url(/images/santa_cruz.jpg);">
    santa_cruz
  </div>
  <div style="background-image: url(/images/under_the_stars.jpg);">
    under_the_stars
  </div>
  <div style="background-image: url(/images/universal.jpg);">
    universal
  </div> -->
</div>
